<%= form_for(@user_scaffold) do |f| %>
  <% if @user_scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_scaffold.errors.count, "error") %> prohibited this user_scaffold from being saved:</h2>

      <ul>
      <% @user_scaffold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
